
body {
    margin: 0 10px;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: hsl(210, 5%, 50%);
    background-image: -webkit-linear-gradient(top, hsl(210, 5%, 30%) 0px, transparent 500px);
    background-repeat: no-repeat;
    }

div.content {
    margin: 20px auto;
    width: 728px;
    }
    div.content h1 {
        font-size: 26px;
        text-indent: -9999px;
        background-image: url(../images/header-logo.png);
        background-position: top left;
        background-repeat: no-repeat;
        }
    div.content h2 {
        margin: 15px 0;
        font-size: 28px;
        font-weight: 100;
        color: hsl(210, 10%, 100%);
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        cursor: default;
        }
    div.content h3 {
        margin: 15px 0;
        font-size: 14px;
        color: hsl(210, 10%, 30%);
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        cursor: default;
        }
    div.content h4 {
        margin: 10px 0;
        font-size: 12px;
        color: hsl(210, 10%, 40%);
        }


body > footer {
    margin: 0 auto 20px auto;
    width: 728px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: default;
    }
    body > footer p {
        font-size: 11px;
        color: hsl(210, 10%, 70%);
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
        }
        body > footer p a:link,
        body > footer p a:active,
        body > footer p a:visited {
            color: hsl(210, 10%, 80%);
            text-decoration: none;
            }
        body > footer p a:hover {
            text-decoration: underline;
            }


iframe#preview {
/*     width: 762px; */
    width: 510px;
    height: 360px;
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 10%);
    background-color: black;
    background-image: -webkit-linear-gradient(top, hsl(0, 0%, 30%), black);
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.6);
    vertical-align: top;
    }


/* Forms */

.content form {
    padding-bottom: 5px;
    background-color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: default;
    }
    .content form > header {
        background-color: hsl(0, 0%, 95%);
        background-image: -webkit-linear-gradient(top, hsl(0, 0%, 98%), hsl(0, 0%, 93%));
        background-image:    -moz-linear-gradient(top, #f9f9f9, #f0f0f0);
        background-image:         linear-gradient(to bottom, #f9f9f9, #f0f0f0);
        padding: 5px 10px;
        font-size: 12px;
        font-weight: bold;
        color: hsl(210, 5%, 40%);
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
        border-bottom: 1px solid hsl(0, 0%, 80%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        }
    .content form div.field {
        padding: 5px 10px;
        border-bottom: 1px solid hsl(0, 0%, 90%);
        font-size: 12px;
        background-color: white;
        }
        .content form div.field:last-child {
            border-bottom: none;
            }
    .content form div.field-group {
            }
        .content form div.field-group > header {
            margin: 0;
            padding: 0 6px;
            font-size: 11px;
            font-weight: bold;
            line-height: 18px;
            text-align: left;
            color: hsl(0, 0%, 40%);
            text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
            background-color: hsl(0, 0%, 95%);
            background-image: -webkit-linear-gradient(top, hsl(0, 0%, 100%), hsl(0, 0%, 90%));
            background-image:    -moz-linear-gradient(top, hsl(0, 0%, 100%), hsl(0, 0%, 90%));
            background-image:         linear-gradient(to bottom, hsl(0, 0%, 100%), hsl(0, 0%, 90%));
            border-bottom: 1px solid hsl(0, 0%, 80%);
            cursor: default;
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            }
        .content form div.field-group > div.field:last-child {
            }
        .content form.zebra-stripes div.field-group div.field:nth-child(odd) {
            background: rgb(243, 246, 250);
            }
    .content form h2 {
        margin: 0 0 15px 0;
        padding: 0 0 10px 0;
        font-size: 16px;
        color: hsl(0, 0%, 60%);
        border-bottom: 1px solid hsl(0, 0%, 90%);
        }
    .content form div.field div.field-container {
        display: inline-block;
        }
    .content form label {
        display: inline-block;
        margin: 0 10px 0 0;
        font-size: 12px;
        font-weight: normal;
        color: hsl(0, 0%, 40%);
        }
        .content form div.field.required label {
            font-weight: bold;
            color: hsl(0, 0%, 20%);
            }
        .content form label:first-child {
            min-width: 140px;
            text-align: right;
            }
        .content form div.field.dangerous label,
        .content form div.field-container.dangerous label {
            color: hsl(0, 100%, 50%);
            }
    .content form pre.token {
        margin: 5px;
        padding: 0;
        display: inline-block;
        font-family: Menlo, Monaco, Courier, fixed;
        font-size: 11px;
        -webkit-user-select: text;
        -moz-user-select: text;
        user-select: text;
        cursor: text;
        }
    .content form span.help_text {
        display: inline-block;
        margin: 0 0 0 10px;
        font-size: 11px;
        font-weight: normal;
        font-style: italic;
        color: hsl(0, 0%, 60%);
        }
    .content form ul {
        margin: 5px 0 10px 0;
        padding-left: 200px;
        list-style: none;
        }
    .content form ul > li {
        font-size: 11px;
        color: hsl(0, 0%, 50%);
        }
    .content form textarea {
        vertical-align: top;
        }
    .content form input[type="checkbox"] {
        }
    .content form > footer {
        background-color: hsl(0, 0%, 95%);
        background-image: -webkit-linear-gradient(top, hsl(0, 0%, 98%), hsl(0, 0%, 93%));
        background-image:    -moz-linear-gradient(top, #f9f9f9, #f0f0f0);
        background-image:         linear-gradient(to bottom, #f9f9f9, #f0f0f0);
        padding: 5px 5px 5px 160px;
        border-top: 1px solid hsl(0, 0%, 80%);
        border-bottom: 1px solid hsl(0, 0%, 80%);
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        }
        .content form > footer:last-child {
            border-bottom: none;
            }
        .content form > footer input[type="button"] {
            display: inline-block;
            padding: 4px 8px;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 11px;
            font-weight: bold;
            border: 1px solid hsl(0, 0%, 80%);
            border-radius: 2px;
            background-image: -webkit-linear-gradient(top, hsl(0, 0%, 100%), hsl(0, 0%, 95%));
            background-image:    -moz-linear-gradient(top, hsl(0, 0%, 100%), hsl(0, 0%, 95%));
            background-image:         linear-gradient(to bottom, hsl(0, 0%, 100%), hsl(0, 0%, 95%));
            color: hsl(0, 0%, 40%);
            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
            }
            .content form > footer input[type="button"]:active {
                background-image: -webkit-linear-gradient(top, hsl(0, 0%, 90%), hsl(0, 0%, 100%));
                background-image:    -moz-linear-gradient(top, hsl(0, 0%, 90%), hsl(0, 0%, 100%));
                background-image:         linear-gradient(to bottom, hsl(0, 0%, 90%), hsl(0, 0%, 100%));
                border-color: hsl(0, 0%, 70%);
                }
            .content form > footer input[type="button"].delete {
                float: right;
                border: 1px solid hsl(0, 100%, 50%);
                background-image: -webkit-linear-gradient(top, hsl(0, 100%, 70%), hsl(0, 100%, 60%));
                background-image:    -moz-linear-gradient(top, hsl(0, 100%, 70%), hsl(0, 100%, 60%));
                background-image:         linear-gradient(to bottom, hsl(0, 100%, 70%), hsl(0, 100%, 60%));
                color: white;
                text-shadow: 0 1px 0 hsl(0, 100%, 40%);
                }
                .content form > footer input[type="submit"].delete:active {
                    background-image: -webkit-linear-gradient(top, hsl(0, 100%, 50%), hsl(0, 100%, 70%));
                    background-image:    -moz-linear-gradient(top, hsl(0, 100%, 50%), hsl(0, 100%, 70%));
                    background-image:         linear-gradient(to bottom, hsl(0, 100%, 50%), hsl(0, 100%, 70%));
                    }
        .content form > footer input[type="submit"] {
            display: inline-block;
            padding: 4px 8px;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 11px;
            font-weight: bold;
            border: 1px solid hsl(210, 100%, 50%);
            border-radius: 2px;
            background-image: -webkit-linear-gradient(top, hsl(210, 100%, 70%), hsl(210, 100%, 60%));
            background-image:    -moz-linear-gradient(top, hsl(210, 100%, 70%), hsl(210, 100%, 60%));
            background-image:         linear-gradient(to bottom, hsl(210, 100%, 70%), hsl(210, 100%, 60%));
            color: white;
            text-shadow: 0 1px 0 hsl(210, 100%, 40%);
            }
            .content form > footer input[type="submit"]:active {
                background-image: -webkit-linear-gradient(top, hsl(210, 100%, 50%), hsl(210, 100%, 70%));
                background-image:    -moz-linear-gradient(top, hsl(210, 100%, 50%), hsl(210, 100%, 70%));
                background-image:         linear-gradient(to bottom, hsl(210, 100%, 50%), hsl(210, 100%, 70%));
                }
